<!-- Page Footer-->
<footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="logo">
            <h6 class="text-white">{{siteConfig.name}}</h6>
          </div>
          <div class="contact-details">
            <p>Email: <a href="{{siteConfig.email}}">{{siteConfig.email}}</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="copyrights">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p> &copy;{{siteConfig.copyright}} </p>
          </div>
          <div class="col-md-6 text-right">
            <p>Template By Sidd <a href="https://bootstraptemple.com" class="text-white">Bootstrap Temple</a>
             </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
