<div class="inlineTooltip-menu">
  <!--
  <button class="btn btn-outline-success"
    title="Add an image"
    aria-label="Add an image"
    data-action="inline-menu-image"
    tabindex="-1" (click)="setRowType('IMA')">
    <img src="assets/img/picture48.png" width="24" />
  </button>
  -->

  <button class="btn btn-outline-success" title="Add H2" aria-label="Add Sub Heading" data-action="inline-menu-hr"
    tabindex="-1" (click)="setRowType('h2')">
    H2
  </button>
  <button class="btn btn-outline-success" title="Add H3" aria-label="Add Sub Heading" data-action="inline-menu-hr"
    tabindex="-1" (click)="setRowType('h3')">
    H3
  </button>
  <button class="btn btn-outline-success" title="Add a Text" aria-label="Add a new part" data-action="inline-menu-hr"
  tabindex="-1" (click)="setRowType('txt')">
  TXT
  </button>
  <button class="btn btn-outline-success" title="Add a List" aria-label="Add a new part" data-action="inline-menu-hr"
    tabindex="-1" (click)="setRowType('lis')">
    List
  </button>
  <button class="btn btn-outline-success" title="Add a code" aria-label="Add a new part" data-action="inline-menu-hr"
    tabindex="-1" (click)="setRowType('cod')">
    <img src="assets/img/code48.png" width="24" />
  </button>
  <button class="btn btn-outline-success" title="Add GIT" aria-label="Add a new part" data-action="inline-menu-hr"
    tabindex="-1" (click)="setRowType('git')">
    GIT
  </button>
  <button class="btn btn-outline-success" title="Add Short Code" aria-label="Add a new part" data-action="inline-menu-hr"
    tabindex="-1" (click)="setRowType('ssc')">
    SSC
  </button>
  <button class="btn btn-outline-success" title="Add Console" aria-label="Add a new part" data-action="inline-menu-hr"
    tabindex="-1" (click)="setRowType('con')">
    CON
  </button>
  <button class="btn btn-outline-success" title="Add Quote" aria-label="Add a new part" data-action="inline-menu-hr"
    tabindex="-1" (click)="setRowType('qou')">
    QUO
  </button>
  <button class="btn btn-outline-success" title="Add Section" aria-label="Add a new part" data-action="inline-menu-hr"
    tabindex="-1" (click)="setRowType('sec')">
    SEC
  </button>
  <button class="btn btn-outline-success" title="Add an url" aria-label="Add an embed" data-action="inline-menu-embed"
    data-action-value="Paste a link to embed" tabindex="-1" (click)="setRowType('url')">
    <img src="assets/img/linking48.png" width="24" />
  </button>

  <button class="btn btn-outline-success" title="Add a video" aria-label="Add a video" data-action="inline-menu-embed"
    data-action-value="Paste a YouTube" tabindex="-1" (click)="setRowType('vid')">
    <img src="assets/img/show48.png" width="24" />
  </button>
</div>
